.is-invalid {
  border-color: red;
  border-width: 3px;
}

input[disabled] {
  pointer-events: none !important;
  opacity: 0.6 !important;
}

.rowHover {
  cursor: pointer;
}

.rowHover:hover{
  background: #f5f5f5;
}