<div class="position-relative">
  <div class="position-absolute" style="left: 10px; top: 10px; z-index: 10">
    <a title="تجديد جميع الخانات" mat-button type="button" (click)="onReset()" class="close mat-button">
      <i class="material-icons text-primary">refresh</i>
    </a>
  </div>
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div class="col-sm-12" *ngIf="sharedFacade.hasPermission('UpdateJobTitle') || sharedFacade.hasPermission('AddJobTitle')">
    <div class="card">
      <div class="card-body">
        <!--        <form [formGroup]="registerForm" action="javascript:" class="row row-cols-md-auto g-3 align-items-center " >-->
        <form [formGroup]="registerForm" action="javascript:">
          <div class="row">
            <div class="form-group col-md-2">
              <label for="inlineFormName">رمز الوظيفة</label>
              <input type="text" required formControlName="jobCode" class="form-control" id="inlineFormName" />
              <!--              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>-->
            </div>
            <div class="form-group col-md-2">
              <!-- <label>العائلة الوظيفية</label>
              <select formControlName="functionalFamilyId" class="form-select" required >
                <option value="" selected disabled>اختر...</option>
                <option *ngFor="let item of jobTitleFacade.functionalFamilySubject$ | async" [value]="item.id">{{ item.name }}</option>
              </select> -->

              <app-dynamic-dropdown
                [fetchData]="loadFunctionalFamily.bind(this)"
                [data]="jobTitleFacade.functionalFamilySubject$"
                [pageSize]="10"
                [placeholder]="'العائلة الوظيفية'"
                [displayKey]="'name'"
                formControlName="functionalFamily"
              ></app-dynamic-dropdown>
            </div>
            <div class="form-group col-md-2">
              <label for="inlineFormNameAr">اسم الوظيفة باللغة العربية</label>
              <input type="text" required formControlName="name" class="form-control" id="inlineFormNameAr" />
              <!--              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>-->
            </div>
            <div class="form-group col-md-2">
              <label for="inlineFormNameAEn">اسم الوظيفة باللغة الإنجليزية</label>
              <input type="text" required formControlName="nameEn" class="form-control" id="inlineFormNameAEn" />
              <!--              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>-->
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2">
              <label>تصنيف الوظيفة</label>
              <select
                (change)="filterJobClassification(registerForm.get('functionalCategory').value)"
                formControlName="functionalCategory"
                class="form-select"
              >
                <option value="" selected disabled>اختر ...</option>
                <option *ngFor="let item of optionsFunctionalCategory" [value]="item.value">{{ item.label }}</option>
              </select>
            </div>
            <div class="form-group col-md-2" *ngIf="registerForm.get('functionalCategory').value">
              <label>الفئة الوظيفية</label>
              <select formControlName="jobClassification" class="form-select" required>
                <option selected disabled>اختر..</option>
                <option *ngFor="let item of filteredJobClassifications" [ngValue]="item">{{ item.name }}</option>
              </select>
              <!-- <app-dynamic-dropdown
                [data]="filteredJobClassifications$"
                [displayKey]="'name'"
                [pageSize]="10"
                [placeholder]="'الفئة الوظيفية'"
                formControlName="jobClassification"
              ></app-dynamic-dropdown> -->
            </div>
            <div class="form-group col-md-4">
              <label for="inlineFormdescription">وصف الوظيفة</label>
              <textarea
                type="text"
                required
                formControlName="description"
                class="form-control"
                id="inlineFormdescription"
                cols="40"
                rows="4"
              ></textarea>

              <!--              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>-->
            </div>
            <div class="form-group col-md-2">
              <!-- <label>المستوى التعليمي</label>
              <select formControlName="scientificQualificationId" class="form-select" required >
                <option value="" selected disabled>اختر...</option>
                <option *ngFor="let item of scientificQualificationsFacade.ScientificQualifications$ | async" [value]="item.id">
                  {{ item.name }}
                </option>
              </select> -->

              <app-dynamic-dropdown
                [fetchData]="loadScientificQualifications.bind(this)"
                [data]="scientificQualificationsFacade.ScientificQualificationsSubject$"
                [displayKey]="'name'"
                [pageSize]="10"
                [placeholder]="'المستوى التعليمي'"
                formControlName="scientificQualification"
              ></app-dynamic-dropdown>
              <!-- (optionSelected)="onScientificQualificationSelect($event)" -->
            </div>

            <div class="form-group col-md-3 align-self-end">
              إضافة ملاحظة

              <button (click)="addNote()" class="btn drp-icon btn-rounded btn-success" ngbDropdownToggle type="button">
                <i class="feather icon-plus"></i>
              </button>
              <!--            <button type="button"  class="btn btn-themeAdd" (click)="addNote()">إضافة ملاحظة</button>-->
            </div>
          </div>
          <div formArrayName="Notes">
            <div *ngFor="let family of Notes.controls; let i = index" [formGroupName]="i">
              <div class="row">
                <div class="form-group col-md-5">
                  <label for="familyName{{ i }}">الملاحظة</label>
                  <input type="text" class="form-control" id="familyName{{ i }}" formControlName="text" required />
                  <div
                    *ngIf="
                      getControl(family, 'text')?.invalid && (getControl(family, 'text')?.dirty || getControl(family, 'text')?.touched)
                    "
                    class="text-danger"
                  >
                    رجاء ادخال الملاحظة.
                  </div>
                </div>

                <div class="form-group col-md-1 align-self-end">
                  <a mat-button (click)="removeNote(i)" type="button" aria-hidden="true" class="close mat-button" data-notify="dismiss">
                    <i class="material-icons text-danger">close</i>
                  </a>

                  <!--                        <a type="button" class="btn btn-danger btn-sm" >-->
                  <!--                          <i class="fas fa-trash-alt"></i>-->
                  <!--                        </a>-->
                </div>
              </div>
            </div>
          </div>
          <!--          <div class="row">-->
          <!--            <div class="form-group col-md-3">-->

          <!--              <label for="inlineNumberPositionsLibyans">عدد المناصب لليبين </label>-->
          <!--              <input-->
          <!--                type="number" required formControlName="numberPositionsLibyans" class="form-control" id="inlineNumberPositionsLibyans" />-->
          <!--              &lt;!&ndash;              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>&ndash;&gt;-->
          <!--            </div>-->

          <!--                   <div class="form-group col-md-3">-->

          <!--              <label for="inlineNumberPositionsForeigners">عدد المناصب للأجانب </label>-->
          <!--              <input-->
          <!--                type="number" required formControlName="numberPositionsForeigners" class="form-control" id="inlineNumberPositionsForeigners" />-->
          <!--              &lt;!&ndash;              <div  class="invalid-feedback">رجاء ادخال اسم الصفة الوظيفية</div>&ndash;&gt;-->
          <!--            </div>-->

          <!--          </div>-->
          <button type="button" (click)="onAdd()" class="btn btn-md btn-themeAdd has-ripple">حفظ</button>
          <!-- <button type="button" (click)="onReset()" class="btn btn-md btn-themeNew has-ripple">جديد</button> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-12" *ngIf="sharedFacade.hasPermission('ViewJobTitle')">
    <app-card cardTitle="الوظائف" [options]="false" blockClass="table-border-style">
      <p *ngIf="dataSource.data.length == 0">لا توجد بيانات للعرض</p>
      <div *ngIf="dataSource.data.length != 0" class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="jobCode">
            <th mat-header-cell *matHeaderCellDef>رمز الوظيفة</th>
            <td mat-cell *matCellDef="let element">{{ element.jobCode }}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>وصف الوظيفة</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>اسم الوظيفة باللغة العربية</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="nameEn">
            <th mat-header-cell *matHeaderCellDef>اسم الوظيفة باللغة الإنجليزية</th>
            <td mat-cell *matCellDef="let element">{{ element.nameEn }}</td>
          </ng-container>

          <ng-container matColumnDef="scientificQualificationName">
            <th mat-header-cell *matHeaderCellDef>المستوى التعليمي</th>
            <td mat-cell *matCellDef="let element">{{ element.scientificQualificationName }}</td>
          </ng-container>
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>الإجراءات</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" *ngIf="sharedFacade.hasPermission('UpdateJobTitle')" (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" *ngIf="sharedFacade.hasPermission('DeleteJobTitle')" (click)="onDelete(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator
          (page)="onPageChange($event)"
          [pageIndex]="currentPage"
          [length]="totalCount"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20]"
        ></mat-paginator>
      </div>

      <!-- <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <th>رمز الوظيفة</th>
            <th>وصف الوظيفة</th>
            <th>اسم الوظيفة باللغة العربية</th>
            <th>اسم الوظيفة باللغة الإنجليزية</th>
            <th>المستوى التعليمي</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of jobTitleFacade.JobTitles$ | async; let i = index">
              <td>{{ item.jobCode }}</td>
              <td>{{ item.description }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.nameEn }}</td>
              <td>{{ item.scientificQualificationName }}</td>
              <td class="td-actions text-right">
                <a mat-button (click)="onEdit(item)" type="button" aria-hidden="true" class="edit mat-button" data-notify="dismiss">
                  <i class="material-icons text-warning">edit</i>
                </a>
                <a mat-button (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button" data-notify="dismiss">
                  <i class="material-icons text-danger">close</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </app-card>
  </div>
</div>
