<app-card cardTitle="المؤهلات العلمية" [options]="false" blockClass="table-border-style">
  <div class="row gy-4">
    <div class="col-md-4">
      <label>الموظف</label>
      <input type="text" class="form-control" value="أحمد أبوبكر الشريف" readonly />
    </div>

    <div class="col-md-4">
      <label>رقم المستند</label>
      <input type="number" class="form-control" />
    </div>

    <div class="col-md-4">
      <label>نوع المستند</label>
      <select class="form-control">
        <option>-- اختر نوع المستند --</option>
      </select>
    </div>

    <div class="col-md-12">
      <label>وصف المستند</label>
      <input type="text" class="form-control" />
    </div>
  </div>
</app-card>

<app-card cardTitle="المؤهلات العلمية" [options]="false" blockClass="table-border-style">
  <div *ngIf="dataSource?.data?.length" class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="documentType">
        <th mat-header-cell *matHeaderCellDef>نوع المستند</th>
        <td mat-cell *matCellDef="let element">{{ element.documentType }}</td>
      </ng-container>

      <ng-container matColumnDef="documentNumber">
        <th mat-header-cell *matHeaderCellDef>رقم المستند</th>
        <td mat-cell *matCellDef="let element">{{ element.documentNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="documentDescription">
        <th mat-header-cell *matHeaderCellDef>وصف المستند</th>
        <td mat-cell *matCellDef="let element">{{ element.documentDescription }}</td>
      </ng-container>

      <ng-container matColumnDef="decisionDate">
        <th mat-header-cell *matHeaderCellDef>تاريخ القرار</th>
        <td mat-cell *matCellDef="let element">{{ element.decisionDate }}</td>
      </ng-container>

      <ng-container matColumnDef="validityDate">
        <th mat-header-cell *matHeaderCellDef>تاريخ الصلاحية</th>
        <td mat-cell *matCellDef="let element">{{ element.validityDate }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>الإجراءات</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      (page)="onPageChange($event)"
      [pageIndex]="currentPage"
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>
</app-card>
