<div class="row">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <div class="calendar-container">
    <!--    <div class="header-container">-->
    <!--      <div class="leave-summary" *ngFor="let leave of leaveBalances">-->
    <!--        <h3>-->
    <!--          {{ leave.used }} / {{ leave.total }} Days-->
    <!--        </h3>-->
    <!--        <p>{{ leave.type }}</p>-->
    <!--        <p class="taken">-->
    <!--          taken {{ leave.taken }}  (Expire on {{ leave.expiry }})-->
    <!--        </p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <br>-->

    <!-- Calendar Header -->
    <div class="calendar-header">
      <button (click)="changeMonth(1)" class="btn drp-icon btn-rounded btn-themeAdd" type="button">&#8249;</button>
      <!--      <button (click)="changeMonth(-1)">&#8249;</button>-->
      <h3>{{ monthNames[currentMonth] }} {{ currentYear }}</h3>
      <!--      <button (click)="changeMonth(1)">&#8250;</button>-->
      <button (click)="changeMonth(-1)" class="btn drp-icon btn-rounded btn-themeAdd" type="button">&#8250;</button>
    </div>

    <!-- Weekdays -->
    <div class="weekdays">
      <div *ngFor="let day of weekDays">{{ day }}</div>
    </div>

    <div class="dates">
      <div *ngFor="let day of calendarDays" [class.blank]="!day.date" class="date" (click)="openDayDialog(day)">
        <!-- Add click event here -->
        <div *ngIf="day.date">
          <span>{{ day.date }}</span>
          <div *ngFor="let timeOff of day.timeOffs" class="time-off">
            {{ timeOff.label }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="row">-->
<!--  <div class="col-xl-12">-->
<!--    <app-card cardTitle="طلبات الإجازات " [options]="false" blockClass="table-border-style">-->
<!--      <div class="table-responsive">-->
<!--        <table class="table table-striped  table-hover">-->
<!--          <thead>-->
<!--          <th>نوع الإجازة</th>-->
<!--          <th>تاريخ الطلب</th>-->
<!--          <th>عدد الأيام</th>-->
<!--          <th>حالة الإجازة</th>-->
<!--          <th>تاريخ الرد</th>-->
<!--          <th></th>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let item of employeeFacade.employeePage$ | async; let i = index">-->
<!--            <td>{{ item.socialStatusSalaries == 2 ? 'إجازة سنوية' : 'إجازة طارئة' }}</td>-->
<!--            <td>{{ item.hireDate | date }}</td>-->
<!--            <td>{{ item.socialStatusSalaries + 5}}</td>-->
<!--            <td>{{ item.socialStatusSalaries ==2 ? 'تمت الموافقة من إدارة موارد البشرية': item.socialStatusSalaries ==3 ? 'تم  الرفض من المدير مباشر':''}}</td>-->

<!--            <td>{{ item.socialStatusSalaries ==2 ? 'Aug 1, 2024': ''}}</td>-->

<!--            <td class="td-actions ">-->
<!--              <a *ngIf="item.socialStatusSalaries ==1" mat-button (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button"-->
<!--                 data-notify="dismiss"> <i class="material-icons text-danger">delete</i></a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </app-card>-->
<!--  </div>-->
<!--</div>-->

<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <h5 class="mb-3">إجازات</h5>
      <ul class="nav nav-pills mb-3" ngbNav #nav1="ngbNav" [(activeId)]="activeTab">
        <li class="nav-item" [ngbNavItem]="1">
          <a class="nav-link" (click)="switchToTab(1, 0)" ngbNavLink>طلبات قيد الإنتظار</a>
        </li>
        <li class="nav-item" [ngbNavItem]="2">
          <a class="nav-link" (click)="switchToTab(2, 1)" ngbNavLink>طلبات مقبولة</a>
        </li>
        <li class="nav-item" [ngbNavItem]="4">
          <a class="nav-link" (click)="switchToTab(4, 2)" ngbNavLink>طلبات معتمدة من شؤون العاملين</a>
        </li>
        <li class="nav-item" [ngbNavItem]="3">
          <a class="nav-link" (click)="switchToTab(3, 3)" ngbNavLink>طلبات مرفوضة</a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="tabs[currentTabNumber]" class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container *ngFor="let item of tabs[currentTabNumber].displayColumns" [matColumnDef]="item.name">
        <th mat-header-cell *matHeaderCellDef>{{ item.title }}</th>
        @if (item?.pipe === 'date') {
          <td mat-cell *matCellDef="let element">{{ element[item.name] | date }}</td>
        }
        @if (item?.pipe === 'datetime') {
          <td mat-cell *matCellDef="let element">{{ element[item.name] | date: 'yyyy/MM/dd hh:mm a' }}</td>
        }
        @if (!item?.pipe) {
          <td mat-cell *matCellDef="let element">{{ element[item.name] }}</td>
        }
      </ng-container>

      <ng-container *ngIf="currentTabNumber === 0" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>الإجراءات</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="DeleteTimeOffRequest(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayColumns(this.currentTabNumber)"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayColumns(this.currentTabNumber)"></tr>
    </table>

    <mat-paginator
      (page)="onPageChange($event)"
      [pageIndex]="currentPage"
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
    ></mat-paginator>
  </div>
</div>
<!-- 
<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="jobCode">
      <th mat-header-cell *matHeaderCellDef>مكان المحكمة</th>
      <td mat-cell *matCellDef="let element">{{ element.jobCode }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>مكان المحكمة</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>مكان المحكمة</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="nameEn">
      <th mat-header-cell *matHeaderCellDef>مكان المحكمة</th>
      <td mat-cell *matCellDef="let element">{{ element.nameEn }}</td>
    </ng-container>

    <ng-container matColumnDef="scientificQualificationName">
      <th mat-header-cell *matHeaderCellDef>مكان المحكمة</th>
      <td mat-cell *matCellDef="let element">{{ element.scientificQualificationName }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>الإجراءات</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    (page)="onPageChange($event)"
    [pageIndex]="currentPage"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 20]"
  ></mat-paginator>
</div> -->
