<div class="dropdown w-100" #dropdownContainer>
  <label>{{ placeholder }}</label>
  <input
    (blur)="closeDropdown()"
    [value]="selectedOption ? selectedOption[displayKey] : ''"
    [disabled]="isDisabled"
    (click)="toggleDropdown()"
    (input)="onSearch($any($event.target).value)"
    type="text"
    class="form-control"
    placeholder="{{ placeholder }}"
    readonly
    [ngClass]="ngClass"
    required
  />

  <ul
    class="dropdown-menu w-100 overflow-auto"
    style="max-height: 250px; min-width: 100%; display: none"
    #dropdownMenu
    (scroll)="onScroll($event)"
  >
    <li *ngFor="let item of items">
      <a class="dropdown-item" href="javascript:void(0)" (click)="onSelectionChange(item)">
        {{ item[displayKey] }}
      </a>
    </li>

    <li class="text-center py-2" *ngIf="loading">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </li>

    <li class="text-center py-2 text-muted" *ngIf="items.length === 0 && !loading">
      <small>لا توجد بيانات</small>
    </li>
  </ul>
</div>
