<div class="position-relative">
  <div class="position-absolute" style="left: 10px; top: 10px; z-index: 10">
    <a title="تجديد جميع الخانات" mat-button type="button" (click)="onReset()" class="close mat-button">
      <i class="material-icons text-primary">refresh</i>
    </a>
  </div>
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div
    class="col-sm-12"
    *ngIf="sharedFacade.hasPermission('AddOrganizationalUnit') || sharedFacade.hasPermission('UpdateOrganizationalUnit')"
  >
    <div class="card">
      <div class="card-body">
        <!--        <form [formGroup]="registerForm" action="javascript:" class="row row-cols-md-auto g-3 align-items-center " >-->
        <form [formGroup]="registerForm" action="javascript:">

          <div class="row">
            <div class="form-group col-md-3">
              <app-dynamic-dropdown
                [fetchData]="loadOrganizationalUnitsLevel0.bind(this)"
                [data]="organizationalUnitFacade.OrganizationalUnitsByLevelSubject$"
                [displayKey]="'name'"
                [pageSize]="10"
                formControlName="parent"
                [placeholder]="'الوحدة التنظيمة'"
              ></app-dynamic-dropdown>
            </div>

            <div class="form-group col-md-2">
              <label for="from">التسلسل من</label>
              <input
                type="number"
                maxlength="5"
                required
                formControlName="from"
                class="form-control"
                id="from"
              />
            </div>

            <div class="form-group col-md-2">
              <label for="to">التسلسل الي</label>
              <input
                type="number"
                maxlength="5"
                required
                formControlName="to"
                class="form-control"
                id="to"
              />
            </div>
          </div>
          <button type="button" (click)="onAdd()" class="btn btn-md btn-themeAdd has-ripple">حفظ</button>
          <!-- <button type="button" (click)="onReset()" class="btn btn-md btn-themeNew has-ripple">جديد</button> -->
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-12" *ngIf="sharedFacade.hasPermission('ViewOrganizationalUnit')">
    <app-card cardTitle="البحث" [options]="false" blockClass="table-border-style">
<!--      <form [formGroup]="registerFormSearch" action="javascript:" class="row row-cols-md-auto g-3 align-items-center">-->
<!--        <div class="form-group col-md-2">-->
<!--          <label for="inlineFormInputName">اسم الوحدة التنظيمية</label>-->
<!--          <input type="text" formControlName="name" class="form-control" id="inlineFormInputName" />-->
<!--        </div>-->

<!--        <div class="col-3">-->
<!--          <button type="button" class="btn btn-outline-info" (click)="onSearch()">-->
<!--            بحث-->
<!--            <i class="feather icon-info"></i>-->
<!--          </button>-->
<!--        </div>-->

<!--      </form>-->
      <br />

      <p *ngIf="dataSource.data.length == 0">لا توجد بيانات للعرض</p>
      <div *ngIf="dataSource.data.length != 0" class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>اسم الوحدة التنظيمية</th>
            <td mat-cell *matCellDef="let element">{{ element.organizationStructureName }}</td>
          </ng-container>

          <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef>التسلسل من</th>
            <td mat-cell *matCellDef="let element">{{ element.from }}</td>
          </ng-container>

          <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef>التسلسل الي</th>
            <td mat-cell *matCellDef="let element">{{ element.to }}</td>
          </ng-container>


          <!-- Table Header and Rows -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- Paginator -->
        <mat-paginator
          (page)="onPageChange($event)"
          [pageIndex]="currentPage"
          [length]="totalCount"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20]"
        ></mat-paginator>
      </div>
    </app-card>
  </div>

</div>
