<app-loading></app-loading>
<app-messages></app-messages>
<app-card cardTitle="بحث عن الموظف" [options]="false" blockClass="table-border-style">
  <div>
    <label for="employee_code" class="form-label">رقم الموظف</label>
    <input #employee_code class="form-control" id="employee_code" aria-describedby="employee_code" />
    <button (click)="setEmployeeByCode(employee_code.value)" type="button" class="btn btn-outline-info mt-3">
      بحث
      <i class="feather icon-info"></i>
    </button>
  </div>
</app-card>

<form (submit)="submit()" [formGroup]="form">
  <app-card *ngIf="form.get('employee').value" cardTitle="معلومات الموظف" [options]="false" blockClass="table-border-style">
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label class="form-label" for="employee_name">أسم الموظف</label>
        <input disabled class="form-control" id="employee_name" [value]="form.get('employee').value.name" />
      </div>
      <div class="col-sm-6 mb-3">
        <label class="form-label" for="employee_name">الأدارة</label>
        <input disabled class="form-control" id="employee_name" [value]="form.get('employee').value.managementName" />
      </div>
      <div class="col-sm-3 mb-3">
        <label class="form-label" for="">أخر مكافأة</label>
        <input disabled class="form-control" id="" />
      </div>
      <div class="col-sm-6 mb-3">
        <label class="form-label" for="">تاريخ أخر مكافأة</label>
        <div class="d-flex gap-3">
          <input disabled class="form-control" id="" />
          <input disabled class="form-control" id="" />
        </div>
      </div>
    </div>
  </app-card>

  <app-card *ngIf="form.get('employee').value" cardTitle="مدة العمل مع شركات أخرى" [options]="false" blockClass="table-border-style">
    <div formArrayName="previousExperience">
      <div
        *ngFor="let previousExperienceControl of getAsFormArray(form.get('previousExperience')).controls; let i = index"
        [formGroupName]="i"
        class="row mb-3 border-bottom pb-3"
      >
        <!-- Company Name -->
        <div class="col-md-3">
          <label class="form-label" for="companyName-{{ i }}">أسم الشركة</label>
          <input
            formControlName="companyName"
            class="form-control"
            id="companyName-{{ i }}"
            [ngClass]="{
              'is-invalid': previousExperienceControl.get('companyName').invalid && previousExperienceControl.get('companyName').touched
            }"
          />
          <div class="invalid-feedback">أسم الشركة مطلوب.</div>
        </div>

        <!-- From -->
        <div class="col-md-3">
          <label class="form-label" for="from-{{ i }}">من</label>
          <input
            type="date"
            formControlName="from"
            class="form-control"
            id="from-{{ i }}"
            [ngClass]="{
              'is-invalid': previousExperienceControl.get('from').invalid && previousExperienceControl.get('from').touched
            }"
          />
          <div class="invalid-feedback">تاريخ البداية مطلوب.</div>
        </div>

        <!-- To -->
        <div class="col-md-3">
          <label class="form-label" for="to-{{ i }}">إلى</label>
          <input
            type="date"
            formControlName="to"
            class="form-control"
            id="to-{{ i }}"
            [ngClass]="{
              'is-invalid': previousExperienceControl.errors?.['dateRangeInvalid'] && previousExperienceControl.get('to').touched
            }"
          />
          <div class="invalid-feedback">
            {{
              previousExperienceControl.errors?.['dateRangeInvalid']
                ? 'تاريخ النهاية يجب أن يكون بعد تاريخ البداية.'
                : 'تاريخ النهاية مطلوب.'
            }}
          </div>
        </div>

        <!-- Field Days -->
        <div class="col-md-2">
          <label class="form-label" for="fieldDays-{{ i }}">فترة العمل في الصحراء</label>
          <input
            type="number"
            formControlName="fieldDays"
            class="form-control"
            id="fieldDays-{{ i }}"
            [ngClass]="{
              'is-invalid': previousExperienceControl.get('fieldDays')?.invalid && previousExperienceControl.get('fieldDays')?.touched
            }"
          />
          <div class="invalid-feedback">فترة العمل في الصحراء مطلوبة ويجب أن تكون 0 أو أكبر.</div>
        </div>

        <!-- Remove Button -->
        <div class="col-md-1 d-flex align-items-end">
          <button
            type="button"
            class="btn btn-danger mt-2"
            (click)="removePreviousExperience(i)"
            [disabled]="getAsFormArray(form.get('previousExperience')).length <= 1"
          >
            حذف
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-3 d-flex">
          <div class="m-auto">صافي سنوات الخبرة</div>
        </div>
        <div class="col-3">
          <label class="form-label">أيام</label>
          <input disabled [value]="totalExperience.days" type="number" class="form-control" />
        </div>
        <div class="col-3">
          <label class="form-label">شهور</label>
          <input disabled [value]="totalExperience.months" type="number" class="form-control" />
        </div>
        <div class="col-3">
          <label class="form-label">سنوات</label>
          <input disabled [value]="totalExperience.years" type="number" class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-3 d-flex">
          <div class="m-auto">عدد أيام العطل</div>
        </div>
        <div class="col-9">
          <label class="form-label">أيام</label>
          <input disabled [value]="totalVacationDays" type="number" class="form-control" />
        </div>
      </div>

      <!-- Add Button -->
      <div class="text-end mt-3">
        <button type="button" class="btn btn-success" (click)="addPreviousExperience()">أضف خبرة جديدة</button>
      </div>

      <!-- Add Button -->
      <div class="text-end mt-3">
        <button type="submit" class="btn btn-primary">حفظ</button>
      </div>

    </div>
  </app-card>

</form>
