<div class="row">
  <app-loading></app-loading>
  <app-messages></app-messages>
  <!-- [ basic-collapse ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="registerForm" action="javascript:" class="row g-3 align-items-center">
          <div class="col-md-2">
            <label>التاريخ من</label>
            <input type="date" class="form-control" required formControlName="FromDate" />
          </div>
          <div class="col-md-2">
            <label>التاريخ إلي</label>
            <input type="date" class="form-control" required formControlName="ToDate" />
          </div>
          <div class="col-md-3 align-self-end">
            <button type="button" class="btn btn-outline-info" (click)="onSearch()">
              بحث
              <i class="feather icon-info"></i>
            </button>
          </div>
          <!--            </div>-->
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="mb-3">طلبات إجازات المستخدمين</h5>
        <ul class="nav nav-pills mb-3" ngbNav #nav1="ngbNav" [(activeId)]="activeTab">
          <li class="nav-item" [ngbNavItem]="1">
            <a class="nav-link" (click)="switchToTab(1, 0)" ngbNavLink>طلبات قيد الإنتظار</a>
            <ng-template ngbNavContent>
              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0 && submitted">لا توجد طلبات</div>
              <div class="table-responsive">
                <table *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped table-hover">
                  <thead>
                    <th>المستخدم</th>
                    <th>نوع الإجازة</th>
                    <th>تاريخ بداية الإجازة</th>
                    <th>تاريخ نهاية الإجازة</th>
                    <th>تاريخ الطلب</th>
                    <th *ngIf="sharedFacade.hasPermission('ApproveTimeOffRequest') " >أعتماد الإجازة</th>
                    <th *ngIf="sharedFacade.hasPermission('RejectTimeOffRequest') ">رفض الإجازة</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of timeOffRequestsViewFacade.TimeOffRequest$ | async; let i = index">
                      <td>{{ item.employeeName }}</td>
                      <td>{{ item.vacationTypeName }}</td>
                      <td>{{ item.startDate | date }}</td>
                      <td>{{ item.endDate | date }}</td>
                      <td>{{ item.createdDate | date: 'yyyy/MM/dd hh:mm a' }}</td>
                      <td *ngIf="sharedFacade.hasPermission('ApproveTimeOffRequest') " class="td-actions">
                        <a
                          mat-button
                          (click)="ApproveTimeOffRequest(item.id)"
                          type="button"
                          aria-hidden="true"
                          class="edit mat-button"
                          data-notify="dismiss"
                        >
                          <i class="material-icons text-success">done</i>
                        </a>
                      </td>
                      <td *ngIf="sharedFacade.hasPermission('RejectTimeOffRequest') " class="td-actions">
                        <a
                          mat-button
                          (click)="RejectTimeOffRequest(item.id)"
                          type="button"
                          aria-hidden="true"
                          class="close mat-button"
                          data-notify="dismiss"
                        >
                          <i class="material-icons text-danger">close</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="2">
            <a class="nav-link" (click)="switchToTab(2, 1)" ngbNavLink>طلبات مقبولة</a>
            <ng-template ngbNavContent>
              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0 && submitted">لا توجد طلبات</div>
              <div class="table-responsive">
                <table *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped table-hover">
                  <thead>
                    <th>المستخدم</th>
                    <th>نوع الإجازة</th>
                    <th>تاريخ بداية الإجازة</th>
                    <th>تاريخ نهاية الإجازة</th>
                    <th>تاريخ الطلب</th>
                    <th>موافقة مدير المباشر</th>
                    <th>موافقة مدير الإدارة</th>
                    <th *ngIf="sharedFacade.hasPermission('PersonnelAffairsApproval') ">أعتماد شؤون الإجتماعية</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of timeOffRequestsViewFacade.TimeOffRequest$ | async; let i = index">
                      <td>{{ item.employeeName }}</td>
                      <td>{{ item.vacationTypeName }}</td>
                      <td>{{ item.startDate | date }}</td>
                      <td>{{ item.endDate | date }}</td>
                      <td>{{ item.createdDate | date: 'yyyy/MM/dd hh:mm a' }}</td>
                      <td>{{ item.directSupervisorName }}</td>
                      <td>{{ item.departmentManagerName }}</td>
                      <td *ngIf="sharedFacade.hasPermission('PersonnelAffairsApproval') "  class="td-actions">
                        <a
                          mat-button
                          (click)="ApproveTimeOffRequest(item.id)"
                          type="button"
                          aria-hidden="true"
                          class="close mat-button"
                          data-notify="dismiss"
                        >
                          <i class="material-icons text-success">done</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="3">
            <a class="nav-link" (click)="switchToTab(3, 3)" ngbNavLink>طلبات مرفوضة</a>
            <ng-template ngbNavContent>
              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0 && submitted">لا توجد طلبات</div>
              <div class="table-responsive">
                <table *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped table-hover">
                  <thead>
                    <th>المستخدم</th>
                    <th>نوع الإجازة</th>
                    <th>تاريخ بداية الإجازة</th>
                    <th>تاريخ نهاية الإجازة</th>
                    <th>تاريخ الطلب</th>
                    <th>رفض مدير المباشر</th>
                    <th>رفض مدير الإدارة</th>
                    <th>رفض شؤون الإدارية</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of timeOffRequestsViewFacade.TimeOffRequest$ | async; let i = index">
                      <td>{{ item.employeeName }}</td>
                      <td>{{ item.vacationTypeName }}</td>
                      <td>{{ item.startDate | date }}</td>
                      <td>{{ item.endDate | date }}</td>
                      <td>{{ item.createdDate | date: 'yyyy/MM/dd hh:mm a' }}</td>
                      <td>{{ item.directSupervisorName }}</td>
                      <td>{{ item.departmentManagerName }}</td>
                      <td>{{ item.personnelAffairsName }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" [ngbNavItem]="4">
            <a class="nav-link" (click)="switchToTab(4, 2)" ngbNavLink>طلبات معتمدة من شؤون العاملين</a>
            <ng-template ngbNavContent>
              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0 && submitted">لا توجد طلبات</div>
              <div class="table-responsive">
                <table *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped table-hover">
                  <thead>
                    <th>المستخدم</th>
                    <th>نوع الإجازة</th>
                    <th>تاريخ بداية الإجازة</th>
                    <th>تاريخ نهاية الإجازة</th>
                    <th>تاريخ الطلب</th>
                    <th>قبول مدير المباشر</th>
                    <th>قبول مدير الإدارة</th>
                    <th>أعتماد شؤون الإدارية</th>
                    <th>تاريخ أعتماد شؤون الإدارية</th>
                    <th  *ngIf="sharedFacade.hasPermission('CancelPersonnelApproval') ">إلغاء أعتماد شؤون الإدارية</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of timeOffRequestsViewFacade.TimeOffRequest$ | async; let i = index">
                      <td>{{ item.employeeName }}</td>
                      <td>{{ item.vacationTypeName }}</td>
                      <td>{{ item.startDate | date }}</td>
                      <td>{{ item.endDate | date }}</td>
                      <td>{{ item.createdDate | date: 'yyyy/MM/dd hh:mm a' }}</td>
                      <td>{{ item.directSupervisorName }}</td>
                      <td>{{ item.departmentManagerName }}</td>
                      <td>{{ item.personnelAffairsName }}</td>
                      <td>{{ item.personnelAffairsApprovedDate | date: 'yyyy/MM/dd hh:mm a' }}</td>
                      <td  *ngIf="sharedFacade.hasPermission('CancelPersonnelApproval') " class="td-actions">
                        <a
                          mat-button
                          (click)="UnapproveTimeOffRequest(item.id)"
                          type="button"
                          aria-hidden="true"
                          class="close mat-button"
                          data-notify="dismiss"
                        >
                          <i class="material-icons text-danger">close</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav1" class="mt-2"></div>

        <!-- Button to switch to Tab 2 -->
      </div>
    </div>
  </div>
</div>

<!--  <div class="col-sm-12">-->
<!--    <div class="card">-->
<!--      <div class="card-body">-->
<!--        <h5 class="mb-3">طلبات إجازات المستخدمين </h5>-->
<!--        <ul class="nav nav-pills mb-3" ngbNav #nav1="ngbNav">-->
<!--          <li class="nav-item" [ngbNavItem]="1">-->
<!--            <a class="nav-link" ngbNavLink aria-controls="pills-home" aria-selected="true">طلبات قيد الإنتظار</a>-->
<!--            <ng-template ngbNavContent>-->
<!--              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0 && submitted">-->
<!--                لا توجد طلبات-->
<!--              </div>-->
<!--              <div class="table-responsive">-->
<!--                <table *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped  table-hover">-->
<!--                  <thead>-->
<!--                  <th> المستخدم</th>-->
<!--                  <th>نوع الإجازة</th>-->
<!--                  <th>تاريخ بداية الإجازة</th>-->
<!--                  <th>تاريخ نهاية الإجازة</th>-->
<!--                  <th>تاريخ الطلب</th>-->
<!--                  <th>قبول</th>-->
<!--                  <th>رفض</th>-->
<!--                  </thead>-->
<!--                  <tbody>-->
<!--                  <tr *ngFor="let item of timeOffRequestsViewFacade.TimeOffRequest$ | async; let i = index">-->
<!--                    <td>{{ item.employeeName }}</td>-->
<!--                    <td>{{ item.vacationTypeName }}</td>-->
<!--                    <td>{{ item.startDate | date }}</td>-->
<!--                    <td>{{ item.endDate | date }}</td>-->
<!--                    <td>{{ item.createdDate}}</td>-->
<!--                    <td class="td-actions ">-->
<!--                      <a mat-button (click)="onEdit(item.id)" type="button"-->
<!--                         aria-hidden="true" class="edit mat-button " data-notify="dismiss"> <i-->
<!--                        class="material-icons text-success">done</i></a>-->
<!--                    </td>-->
<!--                    <td class="td-actions ">-->
<!--                      <a mat-button (click)="onDelete(item.id)" type="button" aria-hidden="true" class="close mat-button"-->
<!--                         data-notify="dismiss"> <i class="material-icons text-danger">close</i></a>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </li>-->
<!--          <li class="nav-item" [ngbNavItem]="2">-->
<!--            <a class="nav-link" ngbNavLink aria-controls="pills-home" aria-selected="true">طلبات مقبولة</a>-->
<!--            <ng-template ngbNavContent>-->
<!--              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0">-->
<!--                لا توجد طلبات-->
<!--              </div>-->
<!--              <div class="table-responsive">-->
<!--                <table *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped  table-hover">-->
<!--                  <thead>-->
<!--                  <th> المستخدم</th>-->
<!--                  <th>رمز المستخدم</th>-->
<!--                  <th>اسم الوظيفة</th>-->
<!--                  <th>نوع الإجازة</th>-->
<!--                  <th>تاريخ الطلب</th>-->
<!--                  <th>عدد الأيام</th>-->
<!--                  <th>تاريخ الموافقة</th>-->
<!--                  <th>حالة الإجازة</th>-->
<!--                  <th></th>-->
<!--                  </thead>-->
<!--                  <tbody>-->
<!--                  <tr *ngFor="let item  of employeeFacade.employeePage$ | async; let i= index  ">-->
<!--                    <td>{{ item.name }}</td>-->
<!--                    <td>{{ item.employeeCode }}</td>-->
<!--                    <td>{{ item.jobTitleName }}</td>-->
<!--                    <td>{{ item.socialStatusSalaries ?'إجازة طارئة':'إجازة سنوية' }}</td>-->
<!--                    <td>{{ item.hireDate | date }}</td>-->
<!--                    <td>{{ item.socialStatusSalaries + 3 }}</td>-->
<!--                    <td>{{ item.hireDate | date }}</td>-->
<!--                    <td>{{ item.socialStatusSalaries == 2 ? 'تمت الموافقة من إدارة موارد البشرية' : 'تمت الموافقة من مدير الإدارة فقط' }}</td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </li>-->
<!--          <li class="nav-item" [ngbNavItem]="3">-->
<!--            <a class="nav-link" ngbNavLink aria-controls="pills-home" aria-selected="true">طلبات مرفوضة</a>-->

<!--            <ng-template ngbNavContent>-->
<!--              <div *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length == 0">-->
<!--                لا توجد طلبات-->
<!--              </div>-->
<!--              <div class="table-responsive">-->
<!--              <table  *ngIf="(timeOffRequestsViewFacade.TimeOffRequest$ | async).length != 0" class="table table-striped  table-hover">-->
<!--                <thead>-->
<!--                <th> المستخدم</th>-->
<!--                <th>رمز المستخدم</th>-->
<!--                <th>اسم الوظيفة</th>-->
<!--                <th>نوع الإجازة</th>-->
<!--                <th>تاريخ الطلب</th>-->
<!--                <th>عدد الأيام</th>-->
<!--                <th>تاريخ الرفض</th>-->
<!--                <th>حالة الإجازة</th>-->
<!--                <th></th>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr *ngFor="let item of employeeFacade.employeePage$ | async; let i = index">-->
<!--                  <td>{{ item.name }}</td>-->
<!--                  <td>{{ item.employeeCode }}</td>-->
<!--                  <td>{{ item.jobTitleName }}</td>-->
<!--                  <td>{{ item.socialStatusSalaries == 2 ?'إجازة سنوية':'إجازة طارئة' }}</td>-->
<!--                  <td>{{ item.hireDate | date }}</td>-->
<!--                  <td>{{ item.socialStatusSalaries + 20 }}</td>-->
<!--                  <td>{{ item.hireDate | date }}</td>-->
<!--                  <td>{{ item.socialStatusSalaries == 2 ? 'تم الرفض من مدير المباشر' : 'تم الرفض من مدير الإدارة ' }}</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <div [ngbNavOutlet]="nav1" class="mt-2"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
